@import './base.css';

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden; 
}

body {
  background-color: #f9a24b !important; 
}

#app {
  font-weight: normal;
  width: 100%;         
  height: 100%;       
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  display: flex !important;
  flex-direction: column !important;
  background-size: 102% auto; 
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.35s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
